In [1]:
import pandas as pd
data = pd.read_csv('resources\\FoodPrice_in_Turkey.csv')
data.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [4]:
food_mean = data.groupby(['ProductName'])['Price'].mean()
food_mean.head(10)

ProductName
Apples (red) - Retail       2.392193
Apples - Retail             3.885039
Bananas - Retail            8.224784
Beans (white) - Retail      9.572830
Bread (common) - Retail     4.463293
Bread (pita) - Retail       2.404545
Bulgur - Retail             3.516712
Cabbage - Retail            1.723395
Cauliflower - Retail        3.274868
Cheese - Retail            25.522875
Name: Price, dtype: float64